@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--color-primario: #9BC53B;
	--color-secundario: #ffff;
	--color-terciario: #19484D;
	--color-cuarto: #2AB8C6;
	--color-quinto: #f2f2f2;
}

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: var(--color-terciario);
}

a:hover {
	color: var(--color-terciario);
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	color: var(--color-terciario);
	text-shadow: 2px 2px var(--color-cuarto);
}

h2 {
	font-size: 2rem;
	color: var(--color-terciario);
}

button {
	border: none;
}

button:hover {
	transform: scale(1.02);
	transition: all 0.3s ease;
}

p {
	font-size: 1.2rem;
	color: var(--color-terciario);
	line-height: 1.5;
}

/* ******************************* */
/* HEADER */
/* ******************************* */

header {
	/* position: relative; */
	height: 60vh;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulos {
	position: absolute;
	padding: 10rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulos h1 {
	font-size: 4rem;
	z-index: 1;
	color: var(--color-secundario);
	text-shadow: 2px 2px var(--color-terciario);
	text-decoration: underline;
	text-decoration-color: var(--color-primario);
}

.titulos h2 {
	z-index: 1;
	color: var(--color-secundario);
}

video {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

@media screen and (max-width: 720px) {
	header h2 {
		padding: 1rem 0;
	}
}

/* ******************************* */
/* NAVBAR */
/* ******************************* */

.menu {
	background-color: var(--color-secundario);
	height: 5rem;
	border-bottom: 2px solid var(--color-terciario);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.menu__container {
	display: flex;
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 160px;
	height: 60px;
	margin: 2rem 5rem;
}

.menu__links {
	height: 100%;
	transition: transform .5s;
	display: flex;
}

.menu__item {
	list-style: none;
	position: relative;
	height: 100%;
	--clip: polygon(0 0, 100% 0, 100% 0, 0 0);
	--transform: rotate(-90deg);
}

.menu__item:hover {
	--clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	--transform: rotate(0);
}

.menu__link {
	text-decoration: none;
	padding: 0 30px;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu__link:hover {
	background-color: var(--color-cuarto);
}

.menu__arrow {
	transform: var(--transform);
	transition: transform .3s;
	display: block;
	margin-left: 30px;
}

.menu__nesting {
	clip-path: var(--clip);
	transition: clip-path .3s;
	clip-path: var(--clip);
	position: absolute;
	right: 0;
	bottom: 0;
	width: max-content;
	transform: translateY(100%);
	background-color: var(--color-quinto);
}

.menu__link--inside {
	padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
	background-color: var(--color-cuarto);
}

.menu__hamburguer {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 15px;
	cursor: pointer;
	display: none;
	font-size: 2rem;
	color: var(--color-primario);
}

.menu__img {
	display: block;
	width: 36px;
}

@media screen and (max-width: 800px) {
	.menu__hamburguer {
		display: flex;
	}

	.menu__item {
		--clip: 0;
		overflow: hidden;
	}

	.menu__item--active {
		--transform: rotate(0);
		--background: var(--color-cuarto);
	}

	.menu__item--show {
		background-color: var(--background);
	}

	.menu__links {
		position: fixed;
		max-width: 250px;
		width: 100%;
		top: 5rem;
		right: 0;
		bottom: 0;
		background-color: var(--color-secundario);
		overflow-y: auto;
		display: grid;
		grid-auto-rows: max-content;
		transform: translateX(100%);
		border-left: 2px solid var(--color-terciario);
		color: var(--color-terciario);
	}

	.menu__links--show {
		transform: unset;
		width: 100%;
	}

	.menu__link {
		padding: 25px 0;
		padding-left: 30px;
		height: auto;
	}

	.menu__arrow {
		margin-left: auto;
		margin-right: 20px;
	}

	.menu__nesting {
		display: grid;
		position: unset;
		width: 100%;
		transform: translateY(0);
		height: 0;
		transition: height .3s;
	}

	.menu__link--inside {
		width: 90%;
		margin-left: auto;
		border-left: 1px solid var(--color-cuarto); 
	}
}

@media screen and (max-width: 450px) {
	.logo {
		width: 120px;
		height: 50px;
		margin: 2rem;
	}
}

/* ******************************* */
/* ABOUT */
/* ******************************* */

#about {
	position: relative;
	padding: 7rem;
	background-image: url(../img/fondo.png);
	background-size: cover;
}

.container2 img {
	border: 5px solid var(--color-primario);
	width: 520px;
}

.container2 {
	padding: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	max-width: 1300px;
	margin: 0 auto;
}

.container2 p {
	text-align: justify;
	max-width: 450px;
}

@media screen and (max-width: 1250px) {
	.container2 {
		flex-direction: column;
		padding: 2rem 0;
	}

	#about {
		padding: 2rem;
	}
}

@media screen and (max-width: 700px) {
	.container2 img {
		width: 100%;
	}

	.container2 p {
		margin: 2rem;
	}
}

/* ******************************* */
/* SERVICES */
/* ******************************* */

#services {
	position: relative;
	padding: 5rem;
	background-color: var(--color-quinto);
}

.services_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 6rem;
	gap: 3rem;
}

.services_card {
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.services_card h2 {
	color: var(--color-primario);
	margin-top: 2rem;
	text-align: center;
}

.services_card p {
	margin: 3rem 0;
	/* text-align: justify; */
	width: 250px;
}

.services_card img {
	width: 150px;
}

button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.3rem;
	width: 150px;
	height: 50px;
	background-color: var(--color-primario);
	color: var(--color-terciario);
	border-radius: 50px;
}

@media screen and (max-width: 1000px) {
	.services_container {
		flex-direction: column;
	}
}

/* ******************************* */
/* MANTENIMIENTO */
/* ******************************* */

.titulazo {
	padding: 3rem;
	background-color: var(--color-quinto);
	margin-top: 5rem;
}

/* ----------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.slider {
    background-color: #f2f2f2;
    padding: 5rem 0;
}

.slider__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__body--show {
    opacity: 1;
    pointer-events: unset;
}

.slider__img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
	border: 5px solid var(--color-primario);
}

.slider__texts {
    max-width: 600px;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 29px;
}

.slider__review {
	text-align: justify;
}

.slider__arrow {
    cursor: pointer;
    font-size: 2rem;
	color: var(--color-primario);
	margin: 0 1rem;
}

.slider__arrow:nth-of-type(2) {
    justify-self: end;
}

@media screen and (max-width: 1000px) {
    .slider__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 1em;
    }
    
    .slider__picture {
        grid-row: 1/2;
    }

	.slider__texts {
		margin: 0 auto;
	}
}

@media screen and (max-width: 425px) {
    .slider__container {
        grid-template-columns: 15px 1fr 25px;
        grid-template-rows: max-content 1fr;
    }

    .subtitle {
        font-size: 1.8rem;
        margin-bottom: 15px;
		margin: 0 2rem;
    }

    .slider__review {
        font-size: 1rem;
        line-height: 1.6;
    }
}


/* ******************************* */
/* FOOTER */
/* ******************************* */

footer {
	background-color: var(--color-terciario);
	color: var(--color-quinto);
	display: flex;
	padding: 3rem;
	justify-content: space-evenly;
	align-items: center;
}

.footer_container {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
	footer {
		flex-direction: column;
		gap: 3rem;
	}
}