:root {
	--color-primario: #9BC53B;
	--color-secundario: white;
	--color-terciario: #19484D;
	--color-cuarto: #2AB8C6;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: var(--color-quinto);
}

a:hover {
	color: var(--color-primario);
}

h1 {
	font-size: 2.8;
	text-align: center;
	color: var(--color-terciario);
	text-shadow: 2px 2px var(--color-cuarto);
}

h2 {
	font-size: 2.5;
}

button {
	border: none;
}

button:hover {
	transform: scale(1.02);
	transition: all 0.3s ease;
}

p {
	font-size: 1.2rem;
	color: var(--color-terciario);
}

/* ******************************* */
/* HEADER */
/* ******************************* */

header {
	height: 800px;
	background-image: url(./img/espacios\ verdes.jpg);
	background-size: cover;
}

nav {
	display: flex;
	justify-content: space-between;
	/* position: fixed; */
	top: 0;
	background-color: var(--color-secundario);
	width: 100%;
	border-bottom: 2px solid var(--color-terciario);
	background-color: rgba(0, 0, 0, .5);
	color: white
}

ul {
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin: 1.5rem;
	font-size: 1.5rem;
	margin: 3rem;
}

li {
	list-style: none;
}

.logo {
	width: 160px;
	height: 60px;
	margin: 2rem 5rem;
}

/* presentación */

.presentacion h1 {
	margin-top: 10rem;
}

/* ******************************* */
/* ABOUT */
/* ******************************* */

#about {
	padding: 7rem 0;
	display: flex;
	/* max-width: 1200px; */
	align-items: center;
	justify-content: center;
	background-image: url(./img/fondo.webp);
	background-size: cover;
}

#about img {
	width: 600px;
	height: 400px;
	border: 3px solid var(--color-primario);
}

.about_container {
	padding: 2rem 5rem;
}

.about_container h1 {
	margin-bottom: 2.3rem;
}

.about_container p {
	text-align: justify;
	width: 500px;
}

/* ******************************* */
/* SERVICES */
/* ******************************* */

#services {
	padding: 5rem;
	background-color: rgb(242, 242, 242);
}

.services_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 6rem;
}

.services_card {
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.services_card h2 {
	color: var(--color-primario);
	margin-top: 2rem;
	text-align: center;
}

.services_card p {
	margin: 3rem 0;
	/* text-align: justify; */
	width: 250px;
}

.services_card img {
	width: 150px;
}

button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.3rem;
	width: 150px;
	height: 50px;
	background-color: var(--color-primario);
	color: var(--color-terciario);
	border-radius: 50px;
}